@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* подключение фонта с ссылкой на гугл фонтс */
:root {
  --green: #009579;
  --white: #fff;
}

/* класс рут для обьявления переменных */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
/* обращение ко всем элементам\главным для отключения стандартных стилей хрома */

div {
  display: flex;
}

/* обращение к парент элементу, чтобы подключит дисплей. Задается параметр дисплей для всех элементов див. Работает, когда главные назаничения и контейнеры идут через див */


body {
  width: 100%;
  height: 100%;
  background-color: var(--green);
}

/* делает боди зеелным обращаясь к переменной греен. и делает боди 100 на 100 % */


#check:checked ~ .reg {
  display: block;
}

/* когда происходит чекед чека - дисплей рега становится блок. А дисплей логин становится нон */

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

/* делает переключение между формами рег и логин. В обычном состоянии чекбокс отключен - значит форма логин, а если нажата то рег. У всех у них стоит одинаковый айдишник чек, чтобы можно было к ним обращаться */

.container {
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

/* для свойства контейнер задается цвет фона - белый, 
аболютная позиция которая позволяет объекту независимо ни от чего позиционировать объект
сверху и слева 50 %, вероятно это сделано для того чтобы позиционировать объект по середине
трансформ сдвигает на 50% влево и вправо объект, чтобы он был по середине
максимально значение - 430 пкс
ширина 100%
закругление границ 7 пикс
тень дива черная и на столько то пикс
обращение к флекс, доступно так как мы */



.container .reg {
  display: none;
}

/* контейнер рег по умолчанию не отображается */
.container .form {
  padding: 2rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
/* форма в родительском конт. форм. Задаются параметры для начинки - 
отступы 2 рема 
ширина 100%
расположение контента центр
направление контента колонна */
.container .form header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

/* параметры для хэдер. ПРосто большной надписи вход 
размер шрифта 2 рема(видимо назначили через хэдер чтобы он был наверху и для того чтобы назначит свои размеры шрифта
ширина шрифта 500.. это жирность текста медиум
марджин боттом - это отступ снизу*/

.container .form form input {
  width: 100%;
  height: 60px;
  padding: 0px 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #bbb;
  border-radius: 6px;
  outline: none;
}
/* 
ширина 100% высота 60 пикс
отступы 0 сверху и снизу 15 по бокам
размер шрифта 17 пикс
отступ снизу 1.3 рема
бордер 1пикс беспрерывн и цвет серый
скругление 6 пикс
отменяет стандартное выделение синим
*/

.container .form form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.container .form form .container-pass {
  width: 100%;
  position: relative;
}
.container .form form .container-pass img {
  position: absolute;
  top: 16px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.container .form form a {
  font-size: 16px;
  color: var(--green);
  text-decoration: none;
}
.container .form form a:hover {
  text-decoration: underline;
}
.container .form form .button {
  color: var(--white);
  background-color: var(--green);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.2s;
}
.container .form form .button:hover {
  background-color: #006653;
}
.container .form .sign-up {
  justify-content: center;
  font-size: 17px;
}
.container .form .sign-up span {
  text-align: center;
}
.container .form .sign-up label {
  margin-top: 5px;
  color: var(--green);
  cursor: pointer;
}
.container .form .sign-up label:hover {
  text-decoration: underline;
}

a {
  text-decoration: underline;
  color: black;
}